* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 0px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  header {
    padding: 30px;
    font-size: 40px;
    background: #333;
  }

  /* header {
    color: var(--light-txt);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - calc(4 * var(--header-padding)) );
    padding: var(--header-padding) calc(2 * var(--header-padding));
    z-index: 10;
    position: fixed;
    font-size: 40px;
  }
header a{
    color: #28a745;
    text-decoration: none;
    background-color: transparent;   
}

header h1{
    margin:0;
    display: contents;
}
header #pb:hover{
    color:#1e7e34;
    text-decoration: none;     
} */

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .right {   
    float: left;
    width: 75%;
    padding-left: 20px;
  }
  
  /* Right column */
  .left {
    float: left;
    width: 25%;
    
  }

  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .contenitori {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }