:root {
    --header-height: 3em;
    --header-padding: .5em;
    --anim-duration: .5s;

    --light-txt: #eee;
}

* {box-sizing: content-box;}

/* https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg 
    ciao ire

*/

body {
    display: flex;
    flex-direction: column;
}

body>*{
    flex:1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - calc(4 * var(--header-padding)));
    height: var(--header-height);
    max-height: var(--header-height);
    color: var(--light-txt);
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--header-padding) calc(2 * var(--header-padding));
    z-index: 10;
}

header span.h3 {
    cursor: pointer;
}

.title {
    position: absolute;
    top: calc(2 * var(--header-height));
    
}

#menu, #menu.visible {
    left: 0%;
    position: fixed;
    top: calc(var(--header-height) + calc(2 * var(--header-padding)));
    bottom: 0;
    height: 100vh;
    background: #333;
    color: var(--light-txt);
    padding: 1em 2em;
    transition: all var(--anim-duration);
}
/* menu nascosto */

#menu.unvisible {
    left: -100%;
 }  

/* sottomenu */
#menu .list-item ul {
    display: none;
}
#menu .list-item.visible ul {
    display: block;
}
#menu .list-item * {
    cursor: pointer;
    color: var(--light-txt);
}


#homepage {
    margin-top:20%;
    
}

button{
    cursor: pointer;
}

.container.horizontal {
    display: flex;
    flex-direction: row;
}
.container.horizontal #sinistra {
    margin: 4em 2em 1em 1em;
}
.container.horizontal #sinistra ul {
    padding: 0;
    overflow-x: hidden;
}

.contenitori {
    border-radius: 25px;
    border: 6px double #159aa3;
    padding: 2%;
    margin-top: 2%
}

#articoli {
    display: none;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  #nuovopost .button {
      border-radius: 2em !important;
      box-shadow: 0 3px 10px -2px #0008 !important;
      padding: 0 10px;
  }

  #articoli_tendenza{
      display: block;
  }

  #articoli_tendenza.hidden {
      display: none !important;
  }