:root {
    --header-height: 3em;
    --header-padding: .5em;
    --anim-duration: .5s;

    --light-txt: #eee;
}

* {box-sizing: content-box;}

body {
    display: flex;
    flex-direction: column;
}

body>*{
    flex:1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - calc(4 * var(--header-padding)));
    height: var(--header-height);
    max-height: var(--header-height);
    color: var(--light-txt);
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--header-padding) calc(2 * var(--header-padding));
    z-index: 10;
}

.title {
    position: absolute;
    top: calc(2 * var(--header-height));
    
}

#menu, #menu.visible {
    left: 0%;
    position: fixed;
    top: calc(var(--header-height) + calc(2 * var(--header-padding)));
    bottom: 0;
    height: 100vh;
    background: #333;
    color: var(--light-txt);
    padding: 1em 2em;
    transition: all var(--anim-duration);
}
/* menu nascosto */
#menu.unvisible {
    left: -100%;
}

/* sottomenu */
#menu .list-item ul {
    display: none;
}
#menu .list-item.visible ul {
    display: block;
}

#homepage {
    margin-top:30%;
}

