:root {
    --header-height: 3em;
    --header-padding: .5em;
    --anim-duration: .5s;

    --light-txt: #eee;
}

* {box-sizing: content-box;}

.pointer {cursor: pointer !important;}
.flex {display: flex;}
.row {flex-direction: row;}
.center {align-items: center !important;}
.justify {justify-content: center !important;}
/* https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg 
    

*/

body {
    display: flex;
    flex-direction: column;
}

body.theme-0 {background-color: red;}
body.theme-1 {background-color: blue;}
body.theme-2 {background-color: pink;}
body.theme-3 {background-color: green;}
body.theme-4 {background-color: teal;}

body>*{
    flex:1;
}

header {
    color: var(--light-txt);
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - calc(4 * var(--header-padding)) );
    padding: var(--header-padding) calc(2 * var(--header-padding));
    z-index: 10;
}

footer {
    text-align: center;
    position: absolute; bottom: 0;
    width: calc(100% - calc(4 * var(--header-padding)) );
    padding: var(--header-padding) calc(2 * var(--header-padding));
}

.title {
    /* position: absolute; */
    /* top: calc(2 * var(--header-height)); */
    
}

.annunciazio h4{
    display: inline-flex;
    
}
.annunciazio h5{
    display: inline-flex;
    
}
#menu, #menu.visible {
    left: 0%;
    position: fixed;
    top: calc(var(--header-height) + calc(2 * var(--header-padding)));
    bottom: 0;
    height: 100vh;
    background: #333;
    color: var(--light-txt);
    padding: 1em 2em;
    transition: all var(--anim-duration);
    box-shadow: 3px 0 1em #0007;
}
/* menu nascosto */

#menu.unvisible {
    left: -100%;
    box-shadow: 3px 0 1em #0000;
 }  

/* sottomenu */
#menu .list-item ul, 
#menu .list-item .sub-menu {
    display: none;
}
#menu .list-item.visible ul {
    display: block;
} 
#menu .list-item.visible .sub-menu {
    display: flex;
}
#menu .list-item * {
    cursor: pointer;
    color: var(--light-txt);
}



#homepage {
    /* margin-top:20%; */
    
}

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container.horizontal {
    display: flex;
    flex-direction: row;
}
.container.horizontal #sinistra {
    margin: 4em 2em 1em 1em;

}

.container.horizontal #destra {
    margin: 4em 2em 1em 1em;
}


.container.horizontal #sinistra ul {
    padding: 0;
    overflow-x: hidden;
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4em 2.4em;
}


.container-flex > *{
    min-width: 50%;
}


.contenitori {
    border-radius: 25px;
    border: 6px double #159aa3;
    padding: 2%;
    margin-top: 2%
}

#articoli {
    display: none;
}


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  #nuovopost .button {
      border-radius: 2em !important;
      box-shadow: 0 3px 10px -2px #0008 !important;
      padding: 0 10px;
  }

  #articoli_tendenza{
      display: block;
  }

  #articoli_tendenza.hidden {
      display: none !important;
  }

  .form-control {
    display: block;
    width: 95%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
