@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap'); 

body,html{
  background-color: #96E072;
}

h1 {
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	vertical-align: baseline;
	color: black;
	font-size: 4em;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 4px;
	display: block;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background-color: #165214;
}


li {
  display: inline;
  position: relative;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1.5vw 4vw;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 99%;
  display: inline-block;
  letter-spacing: 0.25vw;
}

ul ul {
	list-style: none;
	display: none;
	
}

ul li:hover ul{
	display: block;
	
}

li a:hover {
  background-color: #C2A83E;
}

ul ul li{
	display: block;
	list-style-position: inside;
}

h2{
	font-family: 'Noto Sans TC', sans-serif;
}

.form{
	margin-top:5%;
	margin-left: 5%;
}

input[type=text],input[type=password]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#selectImage{
   position: static;
   left: 30px;
   bottom: 0px;
}
.submit{
   border: 0px;
   background-color: deepskyblue;
   color: white;
   padding: 5px 15px;
   margin-left: 10px;
}
.submit:hover {
   background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
#message {
   position:absolute;
}
#success {
   color:green;
}
#invalid {
   color:red;
}
.error {
   color:red;
}
#error {
   color:red;
}
#error_message {
   color:blue;
}

.blogcontainer{
	background-color: white;
	margin-top: 10%;
	padding-bottom: 2%;
	margin-right:2%;
	width: 30%;
	box-shadow: 4px 6px 8px 0 black;
	display:inline-block;
}

.imgBlog {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.card-title{
	font-family: 'Noto Sans TC', sans-serif;
}

#leggi{
	width: 10%;
	background-color: #4CAF50;
	color: white;
	margin: 1%;
	padding: 10px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
}

#edit{
	width: 4%;
	background-color: #4CAF50;
	color: white;
	margin: 1%;
	padding: 4px 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
}


.contenitore{
	background-color: white;
	padding-bottom: 2%;
	margin: 0 auto;
	margin-top: 10%;
	width: 60%;
	box-shadow: 4px 6px 8px 0 black;
}
	

footer{
	background-color: #165214;
	font-family: 'Montserrat', sans-serif; 
	font-size: 150%;
	color: white;
	margin-top: 10%;
	padding-top:30px; 
	padding-bottom:30px;
	text-align: center;
	letter-spacing: 0.25vw;
}



